@import "Home.module.scss";
$darkgreen:#003c2f;
@mixin cardButton{
    @include buttonStyle;
    padding: 12px 56px 14px;
    background-color: $lightgreen;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 140%;
    border-style: none;
    font-family: 'Rubik', sans-serif;
    &:hover{
        background-color: #2bb90a;
    }
}
.banner{    
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
    align-content: center;
    padding-bottom: 120px;

    .banner__item{
    min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   
        .banner__heading{
            max-width: 640px;
            margin-top: 80px;
            h1{
                color: $darkgreen;
                font-size: 60px;
              
                font-weight: 700;
                text-align: center;
    
            }
        }
        .banner__cards{
            margin-top: 40px;
            display: grid;
            grid-template-columns: 4fr 4fr 4fr;
            grid-column-gap: 32px;
            
        }
    }
    
}



// Styles for switch 

.switch{
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 64px;
    width: 322px;
    background-color: #f0f5f0;;
    border-radius: 78px;
    .switch__monthly{
        left: 30px;
        top:22px;
        position: absolute;
        color: white;
        z-index: 1;
        font-weight: 500;
        transition: 0.2s color;
    }
    .switch__yearly{
        margin-left: 20px;
        position: absolute;
        left: 120px;
        top: 22px;
        z-index: 1;
        color: $darkgreen;
        font-weight: 500;
        transition: 0.2s color;
    }
    span{
        &:last-child{
            width:90px;
            height:18px;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: $lightgreen;
            background-color: white;
            position: absolute;
            right:30px;
            border-radius: 18px;
            font-weight: 700;
        }
    }
    .switch__pill{
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        height: 52px;
        width: 115px;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        border-radius: 78px;
        transition: 0.4s;
        background-color: $darkgreen;
    }
}
.switch:checked + .switch__label {
    .switch__pill{
        transform: translate3d(103px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        // left: calc(100% - 80px);
        width: 207px;
    }
 
    .switch__monthly{
        color:$darkgreen;
        transition: 0.2s color;
    }
    .switch__yearly{
        color: white;
        transition: 0.2s color;
    }
}

// plan card wrapper css
.tagwrapper{
    text-align: center;
    background-color: rgb(238, 129, 70);
    padding: 0 8px 8px 8px;
    border-radius: 24px;
    height: max-content;
    h4{
        padding: 6px 0;
        color: white;
        font-weight: 500;
    }
}


// plancard css

.plancard{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    padding: 56px 35px 40px;
    .plancard__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 34px;
            font-weight: 700;
            color: $darkgreen;
            margin: 10px 0;
        }
        .plancard__price{
            span{
                font-weight: 700;
                &:nth-child(1){
                    color: $darkgreen;
                    font-size: 20px;


                }
                &:nth-child(2){
                    color: $darkgreen;
                    font-size: 36px;
                }
                &:nth-child(3){
             color: #65816d;
                   font-weight: 700;
                   margin-left: 8px;
                   opacity: 0.5;
                }
            }
        }
        button{
         @include cardButton;
         margin-top: 1em;
         margin-bottom: 2em;
        }
        .plancard__desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: $dirtygreen;
            font-size: 14px;
            span{
                line-height: 125%;
            }
        }


        .plancard__divideline{
      
            border-bottom: 1px solid #d3dcd4;
            width: 100%;
            margin:30px 0px;
        }
        .plancard__list{
            display: grid;
            grid-template-columns: 12fr;
            gap: 16px;
            list-style: none;
            font-weight: 500;
        
            li{
          color: $darkgreen;
          font-weight: 500;
          display: flex;
          justify-content: start;
          &:first-child{
            font-weight: 700;
          }
                    span{
                        &:first-child{
                            color: $lightgreen;
                            margin-right: 1em;
                        }
                    }
            }
            margin-bottom: 3em
        }
        button{
            @include cardButton;
        }
    }

}