$dirtygreen: #65816d;
$lightgreen: #22ad01;

@mixin buttonStyle {
    padding: 10px 20px 12px;
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 2.1em;
}

@mixin navigationFontStyle {
    text-decoration: none;
    color: $dirtygreen;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.25px;
    line-break: 1.2;
}

.navbar {
    padding: 0 5em;
    display: flex;
    position: relative;
    margin-bottom: 1em;

    &::after {
        content: '';
        background-color: lightgray;
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 1px;

    }

    .navbar__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5em 1.5em 1.5em 0;
    }

    .navbar__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;

    }

    .navbar__buttons {

        button:first-child {
            @include buttonStyle;
            color: #003c2f;
            background-color: transparent;

        }

        button:last-child {
            @include buttonStyle;
            line-height: 100%;
            background-color: $lightgreen;
            color: #fff;

            font-weight: 500;



            &:hover {
                background-color: #2bb90a;
                transition: 0.1s;
            }
        }
    }

}

.navbar__items__list {

    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    >li {
        padding: 1.5em 1em;

        a {
            @include navigationFontStyle;
        }

    }

}

.navbar__list__item__content {
    position: absolute;
    width: 100%;
    bottom: -40vh;
    left: 0;
    height: 40vh;
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;

    .navbar__list__item__content__wrapper {
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
        }
    }
}

.navbar__list__item__content__wrapper {
    li {
        padding: 0.5em 1em;

        a {
            @include navigationFontStyle();
        }

        img {
            width: 10vw;
            height: 10vh;
        }
    }
}




.hidden {
    display: none;
}