@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
$dirtygreen: #65816d;
$lightgreen: #22ad01;
$tablet: 960px;

@mixin buttonStyle {
    padding: 12px 20px 12px;
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 2.1em;
}

@mixin navigationFontStyle {
    text-decoration: none;
    color: $dirtygreen;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.25px;
    line-break: 1.2;
}


.navbar {
    padding: 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    position: sticky;
    top: 0;
    background-color: #fff;

    &::after {
        content: '';
        background-color: lightgray;
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 1px;

    }

    .navbar__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5em 1.5em 1.5em 0;
    }

    .navbar__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;

        @media screen and (max-width:$tablet) {

            flex-direction: column;
            position: absolute;
            top: -500px;
    
            background-color: white;
            overflow: hidden;
            left: 0;
            padding-bottom:1em;
            transition: top 0.5s;
            &.active{
                top:69px;
            
                transition:top 0.5s;
            }
        }
    }

    .navbar__buttons {
        display: flex;

        button:first-child {
            @include buttonStyle;
            color: #003c2f;
            background-color: transparent;
            font-family: inherit;
            font-size: 14px;

            &:hover {
                background-color: rgb(241, 238, 238);
                transition: 0.2s ease-in;
            }
            @media screen and (max-width:$tablet) {
                border:2px solid $dirtygreen;
                margin-bottom:0.8em;
                padding:1em;
            }
        }

        button:last-child {
            @include buttonStyle;
            line-height: 100%;
            background-color: $lightgreen;
            color: #fff;
            font-family: inherit;
            font-size: 14px;
            font-weight: 500;



            &:hover {
                background-color: #2bb90a;
                transition: 0.1s;
            }
            @media screen and (max-width:$tablet) {
         
                padding:1em;
            }
           
        }

        @media screen and (max-width:$tablet) {
            flex-direction: column;
            width: 80%;
        }
    }

}

.navbar__items__list {

    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    >li {
        padding: 1.5em 1em;

        a {
            @include navigationFontStyle;
        }

    }
    @media screen and (max-width:$tablet) {
        flex-direction: column;
        width: 100%;
    
    }
}


.navbar__list__item__content {
    position: absolute;
    width: 100%;
    bottom: -250px;
    left: -10%;
    min-height: 250px;
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;

    .navbar__list__item__content__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 1em;

        ul {
            list-style: none;

            h4 {
                color: $dirtygreen;
                margin-bottom: 0.5em;
            }

            a {
                &:hover {
                    color: $lightgreen;
                    cursor: pointer;
                }
            }
        }
    }
}

.navbar__list__item__content__wrapper {
    li {
        padding: 0.5em 1em;

        a {
            @include navigationFontStyle();
        }

        img {
            width: 10vw;
            height: 10vh;
        }
    }
}

.changeColor {
    color: $lightgreen !important;
}

.dropdownimg {
    min-height: 120px;
}

.mobileicon {
    display: none;
    cursor: pointer;

    @media screen and (max-width:$tablet) {
        display: block;
    }
}

.footer{

    display: flex;
    justify-content: center;
   font-size: 18px;
    color: $dirtygreen;
    font-weight: 500;
   padding: 1em 0;
    width: 100%;
  
}